* {
  box-sizing: border-box;
}
*:focus-visible {
  outline: none;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  background-color: #0000001a;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #0003;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}